## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
0,3,Hilo,US,clear sky,80.33,70,0,9.22,19.7297,-155.0900,Hilo Hawaiian Hotel
1,4,Lompoc,US,clear sky,77.14,44,0,5.75,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
2,7,Sao Filipe,CV,overcast clouds,77.41,48,100,18.99,14.8961,-24.4956,Hotel Xaguate
3,11,Atuona,PF,light rain,77.61,77,15,12.41,-9.8000,-139.0333,Villa Enata
4,17,Cravo Norte,CO,overcast clouds,83.16,48,100,5.64,6.3017,-70.2041,Hotel Potosí Los Mirtos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Forbes"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Forbes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ulladulla"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Flinders"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Port Macquarie"] 
vacation_start

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
104,405,Forbes,AU,clear sky,83.91,31,0,5.64,-33.3833,148.0167,Lake Forbes Motel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode= "DRIVING")
fig.add_layer(direction_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
0,405,Forbes,AU,clear sky,83.91,31,0,5.64,-33.3833,148.0167,Lake Forbes Motel
1,380,Ulladulla,AU,clear sky,77.88,45,0,9.46,-35.3500,150.4667,Sandpiper Motel
2,309,Flinders,AU,scattered clouds,78.39,66,28,3.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
3,704,Port Macquarie,AU,broken clouds,75.88,55,63,9.24,-31.4333,152.9167,Rydges Port Macquarie

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))